# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.env

# VSCode project settings
.vscode/

# macOS junk files
.DS_Store

# Logs
*.log

# Pytest / coverage
.coverage
.pytest_cache/
htmlcov/
